@page "/actorfinder"
@using BlazorMovieDB.Data
<h1>Поиск по Актерам</h1>
<button @onclick="FindActor">Find</button>
<input placeholder="Actor Name" @bind="ActorName" />
       @if (!(actors.Count == 0))
       {
           @foreach (var act in actors)
           {
               <p>
                   Имя: @act.Name
               </p>
               <div class="col">
                   Фильмы:
                   @foreach (Movie m in movies[act])
                   {
                       <div class="row">
                           Title: @m.Title
                       </div>
                   }
               </div>
           }
       }



       @code{

           private List<Actor> actors = new List<Actor>();
           private Loader amt = new Loader();


           private Dictionary<Actor, List<Movie>> movies = new Dictionary<Actor, List<Movie>>();

           private string ActorName;
           public void FindActor()
           {
               if (!string.IsNullOrWhiteSpace(ActorName))
               {
                   actors = amt.ActorsbyName(ActorName);
                   foreach (var a in actors)
                   {
                       movies.Add(a, a.MovieActors.Select(ma => ma.Movie).ToList());
                   }
               }
           }


       }



