@page "/moviefinder"
@using BlazorMovieDB.Data

<h1>Поиск по фильмам</h1>

<input placeholder="Movie title" @bind="Title" />
<button @onclick="FindMovie">Find!</button>
@if (!(movies.Count == 0))
{
    @foreach (var movie in movies)
    {
        <p>
            Название: @movie.Title
        </p>
        <div class="col">
            Теги:
            @foreach (Tag t in tags[movie])
            {
                <div class="row">
                Tag: @t.tag
                </div>
            }
        </div>
        <div class="col">
            Теги:
            @foreach (Actor a in actors[movie])
            {
                <div class="row">
                    Name: @a.Name
                </div>
            }
        </div>
    }
}



@code{
    private List<Movie> movies = new List<Movie>();
    private Loader Loader = new Loader();
    private Dictionary<Movie, List<Tag>> tags = new Dictionary<Movie, List<Tag>>();
    private Dictionary<Movie, List<Actor>> actors = new Dictionary<Movie, List<Actor>>();

    private string Title;
    public void FindMovie()
    {
        if (!string.IsNullOrWhiteSpace(Title))
        {
            movies = Loader.MoviesbyName(Title);
            foreach (var m in movies)
            {
                tags.Add(m, m.MovieTags.Select(mt => mt.Tag).ToList());
                actors.Add(m, m.MovieActors.Select(ma => ma.Actor).ToList());
            }
        }
    }


}